<?xml version="1.0"?>

<ruleset name="WooCommerce Stock Synchronization">
	<config name="minimum_supported_wp_version" value="4.7" />

	<config name="testVersion" value="5.6-" />

	<file>.</file>

	<arg name="colors"/>
	<arg name="extensions" value="php" />
	<arg value="sp" />

	<exclude-pattern>deploy/*</exclude-pattern>
	<exclude-pattern>node_modules/*</exclude-pattern>
	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>wordpress/*</exclude-pattern>

	<rule ref="PHPCompatibility" />

	<rule ref="WordPress">
		<exclude name="Squiz.Commenting" />

		<exclude name="WordPress.DB.DirectDatabaseQuery.DirectQuery" />
		<exclude name="WordPress.DB.DirectDatabaseQuery.NoCaching" />

		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />

		<exclude name="WordPress.PHP.DiscouragedFunctions.DiscouragedWithAlternative" />

		<exclude name="WordPress.WP.AlternativeFunctions.file_get_contents_file_get_contents" />
		<exclude name="WordPress.WP.AlternativeFunctions.file_system_read_file_get_contents" />
	</rule>
</ruleset>
